@tailwind components;
@tailwind base;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Dragon';
  src: url('/assets/'); /* IE9*/
  src: url('/assets/?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/DRAGONFIRE.woff2') format('woff2'),
    /* chrome、firefox */ url('/assets/fonts/DRAGONFIRE.woff') format('woff'),
    /* chrome、firefox */ url('/assets/fonts/DRAGONFIRE.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('/assets/fonts/DRAGONFIRE.svg#Nokia Cellphone FC Small') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-thinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-lightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-regularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-mediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('./assets/fonts/BeaufortPro-boldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

// body {
//   background-image: url('/assets/images/The_Gates.png');
//   color: #ece8e0;
//   background-position: center;
//   background-size: 100%;
// }
body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/assets/images/background.png');
  color: #ece8e0;
  background-size: cover;
  background-position: center;
}
.font-dragon {
  padding-top: 0.5rem;
}

.custom-scrollbar {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari and Opera
  }
}